@font-face
		{
		font-family: ethnocen;
		src: url(ETHNOCEN.TTF);
		font-weight:bold;
		}

.master{
font-family: 'ethnocen';
font-size:18px;
float:none;
line-height:2;
color:#E6E6E6;
text-shadow:1px 1px black, -1px -1px white, 5px 5px 10px black;

}

.master:hover{
color: #0099cc;
text-shadow:-1px -1px white, 1px 1px #333;
text-decoration: none;
background-color: transparent;
width:20px;
height:50px;
}

a:hover{ 
	text-decoration:none;
	color:#0099cc;
}
/***************NAV BAR*************/
.navbar{
	margin-bottom:-1px;
	margin-top:-10px; 
	position:relative;
	}
.navbar .nav, .navbar .nav > li{
	float:none;
	text-align:center;
	}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #0099cc;
	text-decoration: none;
	background-color: transparent;
	border-radius:5px;
	border-bottom: 4px solid #0099cc;
	border-left: 2px solid #0099cc;
	border-right: 2px solid #0099cc;
	}
.nav li{
	display:inline-block;
	float:none;
	}
.nav a {
	font-weight:;
	padding: 3px 18px;
	font-size: 15px; 
	color:#222; 
	font-family: "Lucida Sans Unicode";
	}
#headerSection {
	border-radius:8px;
	background: url(../images/shadow.png) no-repeat center bottom #EEE;
	border-bottom: 1px solid #dedede; 
	padding: 10px 0 0;
}
#headerSection {
	border-bottom:1px solid #fff;
	position: fixed;
	top: 0;
	left:0;
	display: inline-block;
	width: 100%;
	z-index: 1;
	transition: all 800ms;
	z-index: 9999;
}
#headerSection {
	  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.30);

}
/*********FOOTER SECTION*************/
#footerSection {background: #202020;bottom:0;color: white;padding: 20px 25px 44px 40px;margin-top: 20px;border-top: 1px solid #444;}
#footerSection a{color:#ccc; font-size:11px; padding:0; line-height:24px; display:block; }
#footerSection a:hover{color:#0099cc; }
#footerSection  #socialMedia a{  display:inline; margin-right:6px; text-align:center; line-height:1.5em;}
#socialMedia img{max-width:60px;}
#footerSection  #socialMedia a:hover{background:none;}
/**************************************/
.container{
margin-top:60px;
}
.top{
margin-top:60px;

}
/*************************************/

.materials {
  list-style: none;
  *zoom: 1;
}

.materials:before,
.materials:after {
  display: table;
  line-height: 0;
  content: "";
}

.materials:after {
  clear: both;
}

.row-fluid .materials {
  margin-left: 0;
}

.course-box {
  float:center;
  height:232px;
  width:100%;
  display:inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.course-box .mask {
  background: #fff;
  border-radius: 15px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  color: #353535;
  display: block;
  font-size: small;
  overflow: hidden;
  transition: box-shadow 0.2s;
}
.course-box .mask:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  text-decoration:none;
  
}
.course-thumb img{
 background-size:1;
  width:100%;
 height:170px;
}
.course-box .teacher{
padding-left:80px;
}
.course-box .mask .title {
  text-align:center;
  display: block;
  font-size: 20px;
  line-height: 1.3;
  min-height: 30px;
  overflow: hidden;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid rgba(126, 126, 126, 0.3);
}


.course-box .mask .instructors {
  display: block;
  margin: 0 3px;
  overflow: hidden;
  padding: 5px 0;
}

.course-box .mask .ins-thumb {
  float: left;
  width: 55px;
  border-radius: 4px;
  margin: 0 0 5px 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #eee;
  box-shadow: 0 3px 2px rgba(0.2, 0.2, 0.2, 0.2);
}
.course-box .mask .ins-name {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
}
.course-box .mask .ins-job-title {
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.2;
  font-family: georgia;
  font-weight: lighter;
  color: #555;
  font-style: italic;
}
/***********************************************/
.courses{
	display:block;
	color: inherit;
	line-height:25px;
	background-color: #eeeeee;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 20px;
	border: 2px solid rgba(126, 126, 126, 0.3);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 20px 20px rgba(0, 0, 0, 0.05);
}
.courses h3{
	font-style: bold;
	border-bottom: 2px solid rgba(126, 126, 126, 0.3);
	padding:0 20px 10px 20px;
	position: relative;
}
.courses p{
	padding:0px 0px 10px 20px;
	border-bottom: 2px solid rgba(126, 126, 126, 0.3);
	position: relative;
}
.course option{
	text-align:center;
}
.content{
	padding:10px 10px 17px 10px;
}
.timings p{
	padding:0px;
	border-bottom:none;
}
.register{
	padding:18px 25px 20px 0px;
}

.quote {
	width:5%;
	height:5%;
}
.quotecontent {
	margin:0 50px 0 90px;
	font-size:20px;
	font-family:x;
}

.circle {
  float:left;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}
.circle img{
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


@media (max-width: 781px)
{	
	.courses
	{
		margin-bottom:20px;
	}
	.register
	{
		padding:20px 25px 20px 25px;
	}
	.register a
	{	
		font-size:25px;
		padding:20px 0px 20px 0px;
	}
	.timings p
	{
		padding:0px 10px 0 10px;
		border-bottom:none;
	}
}

@media (max-width: 600px)
{
	#headerSection .btn.btn-navbar 
	{
		display: block;
	}

	.nav-collapse .nav>li 
	{
		float: none;
		display: block;
		text-align: center;
	}
	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus 
	{
		color: #0099cc;
		border-bottom: 1;
	}
}
/*******************MT Syllabus*********************/
fieldset {
	display:inline-block;
  width: 240px;
  border:2px solid #a1a1a1;
padding:10px 25px;
border-radius:10px;  
}
legend{
text-align:center;
font-size:16px;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 5px;
  
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul.index
{
list-style: none;
list-style-image:url('ul2.png');
}

ul.index > li
{
margin-left: 21px;
line-height:30px;
}
a{
color: #000000;
text-decoration:none;  
  
} 